 .u-section-1 {
  background-image: linear-gradient(#292d33, #425465);
}

.u-section-1 .u-sheet-1 {
  min-height: 901px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 86px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 23px auto 0;
}

.u-section-1 .u-image-1 {
  width: 212px;
  height: 212px;
  margin: 39px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 86px auto 0 62px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 23px 62px 0;
}

.u-section-1 .u-text-5 {
  margin: 134px 62px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 247px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1189px;
  margin: 26px -25px 59px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 162px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 4px 25px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 7px 1px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 30px 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 4px 25px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 7px 1px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 25px 30px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 4px 25px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 7px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 128px;
  }

  .u-section-2 .u-text-1 {
    width: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 294px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(#425465, #292d33);
}

.u-section-3 .u-sheet-1 {
  min-height: 657px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 73px 62px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  margin: 42px auto 0 85px;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 22px 39px 0 85px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 22px 39px 0 85px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 22px 39px 0 85px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 85px;
  margin-right: 39px;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  margin: 20px 39px 0 85px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin-left: 85px;
  margin-right: 39px;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin-left: 85px;
  margin-right: 39px;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: none;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-9 {
  margin-left: 85px;
  margin-right: 39px;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: none;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-3 .u-text-10 {
  margin-left: 85px;
  margin-right: 39px;
  margin-bottom: 60px;
  font-size: 1rem;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: linear-gradient(#292d33, #425465);
  min-height: 742px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 103px auto 0 calc(((100% - 1140px) / 2) + 62px);
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: -36px 194px 0 calc(((100% - 1140px) / 2) + 805px);
}

.u-section-4 .u-icon-1 {
  width: 147px;
  height: 147px;
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + 473px);
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 52px;
  height: 52px;
  margin: -99px calc(((100% - 1140px) / 2) + 470px) 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  width: 53px;
  height: 53px;
  margin: -53px auto 0 calc(((100% - 1140px) / 2) + 433px);
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: -99px auto 0 calc(((100% - 1140px) / 2) + 62px);
}

.u-section-4 .u-text-4 {
  background-image: none;
  margin: -224px 72px 0 calc(((100% - 1140px) / 2) + 812px);
}

.u-section-4 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 1078px);
  transform-origin: right center 0px;
  border-style: solid;
  margin: 129px 0 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 300;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + 82px);
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + 82px);
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  margin: -22px calc(((100% - 1140px) / 2) + 240px) 0 calc(((100% - 1140px) / 2) + 478px);
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-4 .u-icon-5 {
  width: 18px;
  height: 17px;
  margin: -20px auto 0 calc(((100% - 1140px) / 2) + 447px);
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: 7px 482px 0 calc(((100% - 1140px) / 2) + 478px);
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-4 .u-icon-6 {
  width: 18px;
  height: 17px;
  margin: -22px auto 0 calc(((100% - 1140px) / 2) + 447px);
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  margin: -16px auto 0 calc(((100% - 1140px) / 2) + 107px);
}

.u-section-4 .u-icon-7 {
  width: 18px;
  height: 17px;
  margin: -19px auto 60px calc(((100% - 1140px) / 2) + 82px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 62px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 664px);
  }

  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + 390px);
  }

  .u-section-4 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 388px);
  }

  .u-section-4 .u-icon-3 {
    margin-left: calc(((100% - 940px) / 2) + 357px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 62px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-4 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-text-5 {
    margin-left: calc(((100% - 940px) / 2) + 82px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 14px;
    margin-left: calc(((100% - 940px) / 2) + 82px);
  }

  .u-section-4 .u-text-6 {
    margin-top: -17px;
    margin-right: 331px;
    margin-left: calc(((100% - 940px) / 2) + 394px);
  }

  .u-section-4 .u-icon-5 {
    margin-top: -48px;
    margin-left: calc(((100% - 940px) / 2) + 369px);
  }

  .u-section-4 .u-text-7 {
    margin-top: 42px;
    margin-right: 397px;
    margin-left: calc(((100% - 940px) / 2) + 394px);
  }

  .u-section-4 .u-icon-6 {
    margin-top: -15px;
    margin-left: calc(((100% - 940px) / 2) + 369px);
  }

  .u-section-4 .u-text-8 {
    margin-top: -59px;
    margin-left: calc(((100% - 940px) / 2) + 107px);
  }

  .u-section-4 .u-icon-7 {
    margin-top: 21px;
    margin-bottom: 57px;
    margin-left: calc(((100% - 940px) / 2) + 82px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 62px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 509px);
  }

  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 299px);
  }

  .u-section-4 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2) + 297px);
  }

  .u-section-4 .u-icon-3 {
    margin-left: calc(((100% - 720px) / 2) + 273px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 62px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + 513px);
  }

  .u-section-4 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2) + 82px);
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 82px);
  }

  .u-section-4 .u-text-6 {
    margin-right: 254px;
    margin-left: calc(((100% - 720px) / 2) + 302px);
  }

  .u-section-4 .u-icon-5 {
    margin-left: calc(((100% - 720px) / 2) + 283px);
  }

  .u-section-4 .u-text-7 {
    margin-right: 304px;
    margin-left: calc(((100% - 720px) / 2) + 302px);
  }

  .u-section-4 .u-icon-6 {
    margin-left: calc(((100% - 720px) / 2) + 283px);
  }

  .u-section-4 .u-text-8 {
    margin-left: calc(((100% - 720px) / 2) + 107px);
  }

  .u-section-4 .u-icon-7 {
    margin-left: calc(((100% - 720px) / 2) + 82px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 62px);
  }

  .u-section-4 .u-text-2 {
    margin-right: 146px;
    margin-left: calc(((100% - 540px) / 2) + 382px);
  }

  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-4 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 223px);
  }

  .u-section-4 .u-icon-3 {
    margin-left: calc(((100% - 540px) / 2) + 205px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 62px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2) + 385px);
  }

  .u-section-4 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2) + 82px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -15px;
    margin-left: calc(((100% - 540px) / 2) + 82px);
  }

  .u-section-4 .u-text-6 {
    margin-top: 57px;
    margin-right: 191px;
    margin-left: calc(((100% - 540px) / 2) + 227px);
  }

  .u-section-4 .u-icon-5 {
    margin-top: -91px;
    margin-left: calc(((100% - 540px) / 2) + 212px);
  }

  .u-section-4 .u-text-7 {
    margin-top: 45px;
    margin-right: 228px;
    margin-left: calc(((100% - 540px) / 2) + 227px);
  }

  .u-section-4 .u-icon-6 {
    margin-top: -18px;
    margin-left: calc(((100% - 540px) / 2) + 212px);
  }

  .u-section-4 .u-text-8 {
    margin-top: -56px;
    margin-left: calc(((100% - 540px) / 2) + 107px);
  }

  .u-section-4 .u-icon-7 {
    margin-top: 18px;
    margin-bottom: 58px;
    margin-left: calc(((100% - 540px) / 2) + 82px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2) + 62px);
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 92px;
    margin-left: calc(((100% - 340px) / 2) + 241px);
  }

  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + 141px);
  }

  .u-section-4 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2) + 140px);
  }

  .u-section-4 .u-icon-3 {
    margin-left: calc(((100% - 340px) / 2) + 129px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2) + 62px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2) + 242px);
  }

  .u-section-4 .u-line-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2) + 82px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -21px;
    margin-left: calc(((100% - 340px) / 2) + 82px);
  }

  .u-section-4 .u-text-6 {
    margin-top: 14px;
    margin-right: 120px;
    margin-left: calc(((100% - 340px) / 2) + 143px);
  }

  .u-section-4 .u-icon-5 {
    margin-top: -42px;
    margin-left: calc(((100% - 340px) / 2) + 133px);
  }

  .u-section-4 .u-text-7 {
    margin-right: 144px;
    margin-left: calc(((100% - 340px) / 2) + 143px);
  }

  .u-section-4 .u-icon-6 {
    margin-left: calc(((100% - 340px) / 2) + 133px);
  }

  .u-section-4 .u-text-8 {
    margin-left: calc(((100% - 340px) / 2) + 107px);
  }

  .u-section-4 .u-icon-7 {
    margin-left: calc(((100% - 340px) / 2) + 82px);
  }
}